@mixin no-bg {
  &:not(:root) {
    &, &:hover, &:active {
      background: none;
    }
  }
}

.carousel {
  display: block;
  position: relative;
}

.carousel-item {@extend .sf-jumbo;}

.carousel-dots {
  @extend .block, .abs;
  @include sf-trbl($sf-space * 2, $sf-space * 2, auto, auto);
  @include sf-space-out-horizontal($sf-space / 2);
}

.carousel-dot {
  // Layout.
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;

  // Cosmetic.
  @extend .sf-button-flat;
  @include fa-icon;
  cursor: pointer;
  font-size: 2em;
  color: white;
  opacity: 0.25;
  &::before {content: $fa-var-circle-o}
  &:hover, &[aria-current=step] {
    opacity: 1;
    &::before {content: $fa-var-circle}
  }
  @include no-bg;
}

.carousel-control {
  // Layout.
  @extend .abs, .cen-ver;

  // Cosmetic.
  @extend .sf-button-flat;
  @include fa-icon;
  color: white;
  font-size: 4em;
  opacity: 0.5;
  &:hover {opacity: 1}
  @include no-bg;
}

.carousel-prev {
  left: $sf-space;
  &::before {content: $fa-var-chevron-circle-left}
}

.carousel-next {
  right: $sf-space;
  &::before {content: $fa-var-chevron-circle-right}
}
