// TODO remove the relative and absolute shit.
[data-overtip] {

  // Layout.
  position: relative;

  &::after {
    // Layout.
    position: absolute;
    // z-index: $sf-z-index-navbar - 1;

    // Position.
    @include sf-trbl(auto, 0, 0, 0);

    // Whitespace.
    padding: $sf-space;

    // Cosmetic.
    // background-color: rgba(sf-contrasting-color($sf-color-background), 0.5);
    background-color: $sf-color-overlay;
    color: sf-contrasting-color($sf-color-text);
  }

  @include sf-gt-sm {
    &:not([data-overtip=''])::after {
      content: attr(data-overtip);
    }
  }
}
