.sf-jumbo {

  // Special styles for index page brand logo jumbo.
  .brand-logo {
    /**
     * Layout.
     */
    // Fill the parent.
    width: 100%;
    height: 100%;

    /**
     * Inner layout.
     */
    @include sf-flex-host-center;

    // Negate the default jumbo underlay.
    background: none;

    // Special style for brand logo.
    .brand-logo-background {
      /**
       * Layout.
       */
      // Fill the parent.
      height: 80%;
      width: 100%;

      // Background image styling.
      @include bg-svg-custom(prosto-poi-logo-white);
      background-size: contain;
      background-repeat: no-repeat;
      // Center the image in the element.
      background-position: 50%;
    }
  }
}
