/**
 * Global variables and/or overrides for imported variables.
 */

@import './node_modules/stylific/scss/_variables';

/*********************************** Misc ************************************/

// SVG icon paths.
// $svg-black: './bower_components/font-awesome-svg-png/black/svg/';
// $svg-white: './bower_components/font-awesome-svg-png/white/svg/';
$svg-custom: '/svg/';

$fa-font-path: '/fonts';

// $sf-body-max-width: 1440px;

// $ct-include-classes: true;

$shadow-inset: inset 0 -3px 0 0;

/********************************** Colours **********************************/

// $color-link: darken(#5cb85c, 30%);

$color-red: darken(red, 10%);

// Brand-specific colours. Source: http://brandcolors.net.
$color-skype:     #00aff0;  // unverified
$color-github-0:  #4183c4;  // unverified
$color-github-1:  #666666;  // unverified
$color-twitter:   #55acee;  // verified
$color-linkedin:  #0976b4;  // unverified
$color-facebook:  #3b5998;  // unverified
$color-youtube:   #e52d27;  // partly verified
$color-instagram: #3f729b;  // unverified
$color-vk:        #45668e;  // unverified

// http://clrs.cc
$color-navy:    #001f3f;
$color-blue:    #0074d9;
$color-aqua:    #7fdbff;
$color-teal:    #39cccc;
$color-olive:   #3d9970;
$color-green:   #2ecc40;
$color-lime:    #01ff70;
$color-yellow:  #ffdc00;
$color-orange:  #ff851b;
$color-red:     #ff4136;
$color-maroon:  #85144b;
$color-fuchsia: #f012be;
$color-purple:  #b10dc9;
$color-black:   #111111;
$color-gray:    #aaaaaa;
$color-silver:  #dddddd;

// $color-email: $sf-gray;

// $sf-color-map-primary: (
//   name: 'primary',
//   default: lighten($color-link, 5%),
//   active: lighten($color-link, 10%),
//   selected: lighten($color-link, 15%)
// );

// $color-primary: #0f1c36;
// $color-primary: lighten(#0f1c36, 10%);
// $color-primary: lighten(#0f1c36, 13%);
// $color-primary: desaturate(rgb(12, 73, 176), 30%);
// $color-primary: #213f79;
$color-primary: rgb(8, 59, 142);

$sf-color-map-primary: (
  name: 'primary',
  default: $color-primary,
  active: lighten($color-primary, 5%),
  selected: lighten($color-primary, 10%)
);

$color-link: $color-primary;

$color-default-active: rgba(map-get($sf-color-map-primary, default), 0.05);
$color-default-selected: rgba(map-get($sf-color-map-primary, default), 0.1);

// $color-accent: map-get($sf-color-map-accent, default);
// $color-warn: map-get($sf-color-map-warn, default);

$sf-color-maps: $sf-color-map-primary, $sf-color-map-accent, $sf-color-map-warn;

/******************************** Typography *********************************/

// Font families.
$sf-font-family-sans-serif: Open Sans, Helvetica Neue, Verdana, sans-serif;

// Font size.
$sf-rem: 10pt;
